
body {
  margin: 0;
  padding: 0;
}



.navBar{
  display: flex;
  justify-content: space-between;
  background-color: #f2bcbc;
  align-items: center;
  height: 60px;
  width: 100%;

  

}
.topnav{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 20px;
  font-size: 20px;

 
}
.topnav li a{
  text-decoration: none;
  color: black;
}

